nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: orangered; */
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px 5px;
}

 body {
      margin: 0;
      padding: 0;
      background-color: black;
      color: white;
 }
 
  .banner {
  display: flex;
 justify-content: space-between;
  background-color: black;
  width: 100%;
}
  .left-center a {
  color: tomato;
} 

.right-link a:first-child {
  color: white;
  background-color: tomato;
  font-weight: bold;
  padding: 5px;
  border-radius: 15px;
  
}
.right-link a .button {
  color: white;
  /* border: 2px solid tomato; */
  border-radius: 25%;
  padding: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width:50px;
  hight: 5px;
  left: 50px;
  text-align: center;
} 

.hamburger {
  display: none;
}
  .custom-paragraph {
  width: 800px;
  font-style: normal; 
  color: white;
  font-size: 28px;
  margin-left: 25%;
  margin-top: 0%;
  }
  .highlight {
      font-style: italic;
      font-weight: var(-100%);
       color: white;
       }
  .Important-text-box {
      font-size: 9px;
        color: darkgrey;
        line-height: 1.6;
        margin: 10px 0;
        padding: 10px;
        text-align: center;
        margin-left: -30%;
        margin-right: 20%;
       margin-top: -2%; 
       }
       .orange-button {
        transition: translatex(-40%);
        background-color: orangered;
        color: whitesmoke;
        text-decoration: none;
        padding: 10px;
        text-align: center;
        width: calc(100%-20px);
        border-radius: 20px;
        font-size: 15px;
        height: 10px;
        width: 120px;
        margin-left: 0%;
        }
        .black-button{
          transition: translatex(-40%);
          background-color: black;
          border: 1px solid white;
          text-decoration: none;
          color: whitesmoke;
          padding: 10px;
          text-align: center;
          width: calc(100%-20px);
          border-radius: 20px;
          font-size: 15px;
          height: 10px;
          width: 100px;
          margin-left: 5%;
        }
     
      .text-box {
      transform: translate(-40%);
      background-color:rgb(28, 27, 28) ;
      color: darkgrey;
      padding: 10px; 
      border-radius: 5px;
      text-align: center;
      width: calc(100%-20px);
      font-size: 7px;
      height: 30px;
      width: 80px;
      margin-left: 77% ;
      margin-top: -85%;
  }
.large-text {
  font-size: 23px;
  font-weight: bold;
  color: whitesmoke;
 
}
  .text-box2 {
    transform: translateX(10%);
     /* margin-bottom: 20px; */
     background-color: rgb(28, 27, 28) ;
     color: darkgrey;
     padding: 10px;
     border-radius: 5px;
     text-align: center;
    width: calc(100% - 20px);
    font-size: 7px;
    height: 30px;
    width: 80px;
   margin-left: -15%;
    margin-top: 45%;
}
.top-box {
  display: flex;
  text-align: center;
}

  .circle {
    display: flex;
  width: 25px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  margin-top: -20px;
  left: 680px;
}
.large-text2 {
  font-size: 23px;
  font-weight: bold;
  color: whitesmoke;
} 
@media screen and (max-width: 576px) {
  .right-link {
    display: none;
  }
  .hamburger {
    display: block;
    color: white;
    font-size: 28px;
    cursor: pointer;
  }

  .banner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .circle {
    width: 10%;
    padding: 5px;
    margin: 0 auto;
  }
  .large-text, .large-text2 {
    font-size: 2em;
}
}


.ChangeYour, .Maintaining {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  
}
.Maintaining {
  font-size: 10px;
  color: darkgray;
}

 .image-container { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20%;
  gap: -10%;
  } 

 .image-item {
  text-align: center;
  flex-basis: 22%;
  }
  .image-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -200%;
  }
  .image-item p {
    margin-top: 10px;
    font-size: 1em;
    color: whitesmoke;
  }
  small {
    font-size: 8px;
    color: rgb(99, 97, 97);
  }
 
   
    @media screen and (max-width: 576px) {
    .image-container {
      padding: 10%;
      flex-direction: column;
    }
    .image-item {
      flex-basis: 100%;
      margin-bottom: 20px;
      }
      .image-item img {
        width: 80px;
        height: 80px;
        margin-top: 0;
      }
      .image-item p {
        font-size: 0.9em;
      }
      .Maintaining {
        font-size: 9px;
      }
   }
  
   .box3 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 20px;
    font-size: 9px;
    background-color: rgb(20, 19, 20) ;
    color: darkgrey;
    line-height: 1.6;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    margin-left: 28%;
    margin-right: 100%;
    margin-top: -18%; 
    height: 230px;
    width: 600px;
   }
   
   .text-and-image-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    }
.text-content {
  font-size: 10px;
  color: white;
  }
.text-content h1 {
  font-size: 25px;
  line-height: 1.4;
  margin: 0;
  color: whitesmoke;
}
.text-content h1 small {
  font-size: 10px;
  color: rgb(99, 97, 97);  
}
.image-content {
  text-align: center;
  margin-top: 48%;
  margin-left: auto;
}
.image-content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  width: 200px;
  height-right: 20px;
  object-fit: cover;
  margin-top: -100%;
  margin-right: -120%;
  height: 210px;
}

.tomato-button {
  display: inline-block;
    background-color: orangered;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 30px;
    text-align: center;
   width: calc(100%-20px);
    border-radius: 20px;
    font-size: 15px;
    width: 120px;
    margin-left: 0%;
}
   
   @media screen and (max-width: 576px) {
    .box3 {
      display: flex;
      padding: 20px;
      
    }
      .image-content {
        flex: 1 1 100%;
        text-align: center;
        margin-bottom: 20px;
      }
      .image-content { 
        flex: 1 1 100%;
      }
      .text-and-image-container {
        padding: 20%;
      }
      .tomato-button {
        font-size: 16px;
        padding: 10px 20px;
      }
   }
   .Trainings {
    text-align: left;
    font-size: 25px;
    color: white;
  }
  small {
    text-align: left;
    font-size: 20px;
    color:rgb(99, 97, 97);

  }
  
    .image-grid {      
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    justify-content: center;
   justify-content: space-between ;
    padding: 20px;   
    align-items: center;
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
    width: 100%%;
    margin-top: 1%;
    margin-left: 17%;
    max-width: 53%;
    
   
}

.image-item-grid {
  flex: 1 1 calc(50% - 20px);
  flex: 1 1 100px;
  max-width: 250px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  
}

.image-item-grid img {
    width: 100%;
    height: auto;
    /* display: block; */
   
    
   }
   .image-item-grid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
   }

 
   .red-overlay::before {
    background-color: rgba(255, 0, 0, 0.5);
}

.green-overlay::before {
    background-color: rgba(0, 255, 0, 0.5);
}

.aqua-overlay::before {
    background-color: rgba(6, 255, 210, 0.5);
   

}

.blue-overlay::before {
    background-color: rgba(0, 0, 255, 0.5);
}

@media screen and (max-width: 576px) {
  .Trainings {
    font-size: 18px;
  }
  small {
    font-size: 16px;
  }
.image-grid {
  grid-template-columns: repeat(100px, 1fr);
  padding: 5px;
} 
}
.BMI {
  text-align: center;
  font-size: 25px;
  color: white;
}
small {
  text-align: left;
  font-size: 10px;
  color: rgb(99, 97, 97);
}

@media screen and (max-width: 576px) {
  .title, .subtitle {
    font-size: 11px;
  }
  .small-text {
    font-size: 0.8em;
  }
  .BMI {
    font-size: 18px;
    text-align: center;
  }
  small {
    font-size: 7px;
    text-align: center;
  }
  .red-button {
    padding: 8px 15px;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }

}
.Meet {
  text-align: center;
  font-size: 15px;
  color: white;
}


small {
  text-align: center;
  font-size: 9px;
  color:rgb(99, 97, 97); ;
}
 
  .image-content-team {
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    justify-content: center; 
    justify-content: space-between;   
    margin: 20px 0;
    row-gap: 20px;
    column-gap: -30px;
    
}
.image-content-team img {
  width: 250px;
  height: 100%;
  display: block;
  border-radius: 10px;
  
  /* padding: 10px; */
}
.image-content-team::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 1;
}
@media screen and (max-width: 576px) {
  .Meet {
    font-size: 13px;
  }
  small {
    font-size: 7px;
  }
  .image-content-team {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  
.image-content-team img {
border-radius: 5px;
}
}

.wrapper {
  margin-bottom: 8%;
 
}
.box-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: rgb(10, 8, 8);
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  height: 200px;
}
.left-content, .middel-column, .right-column {
  width: 30%;
  
}

.left-content h1 {
  /* margin: 0; */
  line-height: 1.6;
  color: orangered;
  font-size: 30px;
  margin-top: -35px;
  font-style: inherit;
}

.middel-column, .right-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.right-column p {
  margin: 2px 0;
  line-height: 2;
}

.footer {
  text-align: center;
  padding: -20px;
 border-top: 1px solid darkgray ;
 border-bottom-left-radius: 5px;
  margin-top: -23px;
  border-radius: 10px;
  font-size: 1.1em;
  margin-left: auto;
  margin-right: auto
 
}
@media screen and (max-width: 576px) {
.box-container {
  flex-direction: column;
  align-items: center;
  height: auto;
}
.left-content, .middel-column, .right-column {
  width: 100%;
  margin-top: 15px;
}
.left-content h1 {
  font-size: 24px;
  margin-left: 0;
}
.right-column p {
  margin: 5px 0;
  line-height: 1.5;
}
.footer {
  padding: 10px;
  font-size: 1em;
  width: 100%;
}
}
 
  

  